<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf8" />
    <meta name="keywords" content="twitter4r, rubyforge, opensource, open source, ruby, twitter"/>
    <meta name="description" content="Demonstration of usage of the Twitter4R open source Ruby library for the Twitter REST API in Rails."/>
    <title>TweetApp: Twitter4R's sample Rails application</title>
    <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen" title="Screen CSS Stylesheet" charset="utf-8" />
  </head>
  <body>
    <div id="header">
      <h1><a href="/">TweetApp</a></h1>
      <h2>Twitter4R's sample Rails application</h2>
    </div>
    <%= yield :layout -%>
  </body>
</html>
