/*-----------------------------TIPJOY WIDGET -----------------*/
.tjbody{  /* this is the container around the entire widget */
	background:none;
	display:block;
}

.tjContent { /* this is the container just inside tjbody, contains all content */
	margin:5px auto;
	text-align:left;
	display:block;
}

.block1{ /* this is the 'give' block */
	display:block;
	margin-bottom:7px;
}

.block2{ /* this is the giver list block */
	margin-top:10px;
	display:block;
}
   
.tjp{ /*this is our paragraph tag */
	margin-top:2px;
	display:block;
	font-size:80%;
	font-weight:normal;
}

.tjemphasis{ /* used to give various elements emphasis */
	font-weight:bold;
}

.tjtitle{  /* the title field is for your custom message.*/
	margin: 5px 0;
	font-size:110%;
	font-weight:bold;
}

.tjsubtitle{ /* the subtitle field is for the 'recent givers' and 'most generous' headers */
	font-size:100%;
	font-weight:bold;
}

.tjgivebtn{ /* this styles the 'give' button.*/
	vertical-align:middle;
}

/*-----------------------------TIPJOY WIDGET: GIVER LISTS -----------------*/

.tjgiventry{  /* this gives extra style to the paragraphs which list the giver and their message if applicable */
	margin:5px 0 10px 0;
	padding-left:4px;
	border-left:1px solid #ccc;  
	display:block;
}

.tjtime{ /* the time indicator on each giver paragraph */
	font-style:italic;
}

.tjmymsgs{ /* the giver's message row(s)*/
	display:block;
}

